@font-face {
  font-family: Gilda ;
  src: url(../fonts/Gilda_Display/GildaDisplay-Regular.ttf);
  font-family: Maven ;
  src: url(../fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== HEADER ===== */
header{
  background-color:  hsla(0, 0%, 20%, 1);
  height: 100vh;
}
.logo {
  font-size: 18px;
  font-family: Maven;
  color: hsla(0, 0%, 58%, 1);
  width: 80px;
  padding: 15px 20px;
}
.logo span {
  margin-left: 10px;
}
.box {
    width: 300px;
    height: 225px;
    background: linear-gradient(to top right, #ff3399 13%, #0000ff 87%);
    border-radius: 8px;
    margin: 50px auto;
    text-align: center;
}
.box:hover{
  background: linear-gradient(to top left, #ff3399 13%, #0000ff 87%);
}
.box h1{
  color: white;
  font-size: 48px;
  font-family: Gilda;
  font-weight: 100;
  margin-bottom: 10px;
  padding-top: 10px;
  line-height: 70px;
}
.box p {
  color: white;
  font-family: Maven;
  font-family: 16px;
}
ul {
  text-align: right;
}
ul li {
  padding:15px 25px;
}
ul li a{
  color: hsla(0, 0%, 58%, 1); 
  text-decoration: none;
}
ul li a:hover{
  color: white;
  text-shadow: 2px 2px 8px #ffffff;
}
main{
  height: 100vh;
  background-color: white;
}